{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} | Linosoft{% else %}Поиск места для парковки | Linosoft{% endif %}
{% endblock %}
{% block styles %}
    <!-- Icon -->
    <link rel="icon" href="{{ url_for('.static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    {% include 'includes/menu.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# содержимое приложения которое должно быть предоставлено в блоке app_content #}
        {% block app_content %}{% endblock %}
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <div class="text-left">
                        © 2020:<a href="http://linosoft.ru/"> Linosoft</a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="text-right">
                        {{ g.request_time() }}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
{% endblock %}
