{% extends "base.html" %}
    
{% block app_content %}
    <div class="text-center">
        {% for img in imgs %}
        <div class="row" style="margin-top: 20px">
            <div class="col">
                <figure class="figure">
                    <figcaption class="figure-caption font-weight-bold" style="font-size: 120%">{{img['title']}}</figcaption>
                    <img alt = "Скрин с камеры" class="figure-img img-fluid rounded" src="{{img['url']}}">
                </figure>    
            </div>    
        </div>    
        {% endfor %}
    </div>        
{% endblock %}

      
    